{% load ontotags %}{% load subdomainurls %}
<style type="text/css" media="screen">
#legendEntities.legend {
/*    width: 10em;*/
/*    border: 1px solid black;*/
}

#legendEntities.legend .title {
/*    display: block;">{*/
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}
	
</style>


<div class="page-header">
<h3>Metrics</h3>
</div>

{#  #}
{# <div class="row"> #}
{# 	 #}
{# 	 #}
{# 	<div class="col-sm-3 col-md-3"> #}
{# 		 #}
{# 		<canvas id="triplesStats" height="300"></canvas> #}
{#  #}
{# 		 #}
{# 	</div> #}
{#  #}
{# 	 #}
{# 	<div class="col-sm-8 col-md-8 col-md-offset-1"> #}
{# 		 #}
{# 		<canvas id="entitiesStats" height="300"></canvas> #}
{# 		 #}
{# 		 #}
{# 		<p id="legendEntities">		 #}
{# 		</p> #}
{# 		 #}
{# 	</div> #}
{# 	 #}
{#  #}
{# 	 #}
{#  #}
{# 	 #}
{# </div> #}
{#  #}
{#  #}
{#  #}
{#  #}
{#  #}
{# <div class="page-header"> #}
{# <h3>Top Layer</h3> #}
{# </div> #}
{#  #}
{#  #}
{# <div class="row"> #}
{# 	 #}
{#  #}
{# 	<div class="col-sm-6 col-md-6"> #}
{# 		 #}
{#         {% for class in toplayer %}      #}
{#  #}
{#         <p> #}
{# 			&gt; <a title="{{class.class}}" #}
{#         {% if class.isdefined %}href="#{{class.classname}}"{% endif %} class="rdfclass">{{class.classname}}</a> {% if not forloop.last %}{% endif %} #}
{# 		</p> #}
{#         {% endfor %} #}
{# 		 #}
{# 	</div> #}
{# 	 #}
{#  #}
{# 	 #}
{# </div> #}
{#  #}
{#  #}
{#  #}
{#  #}
{#  #}
{#  #}
{#  #}
{# {# ONTO STATS have this format  #} #}
{# {# 	 #} #}
{# {# 	out += [("Triples", len(self.rdfGraph))] #} #}
{# {# 	out += [("Classes", len(self.allclasses))] #} #}
{# {# 	out += [("Object Properties", len(self.allobjproperties))] #} #}
{# {# 	out += [("Datatype Properties", len(self.alldataproperties))] #} #}
{# {# 	out += [("Individuals", len(self.allinstances))] #} #}
{# 	 #}
{#  #}
{# 		 #}
{# 		 #}
{# 		 #}
{# 		 #}
{# <script type="text/javascript"> #}
{#  #}
{# 	// first chart #}
{# 	 #}
{# 	var ctx = document.getElementById("entitiesStats").getContext("2d"); #}
{# 	 #}
{# 	var data = [ #}
{# 	    { #}
{# 	        value: {{stats.1.1}}, #}
{# 	        color:"#F7464A", #}
{# 	        highlight: "#FF5A5E", #}
{# 	        label: "{{stats.1.0}}" #}
{# 	    }, #}
{# 	    { #}
{# 	        value: {{stats.2.1}}, #}
{# 	        color: "#46BFBD", #}
{# 	        highlight: "#5AD3D1", #}
{# 	        label: "{{stats.2.0}}" #}
{# 	    }, #}
{# 	    { #}
{# 	        value: {{stats.3.1}}, #}
{# 	        color: "#FDB45C", #}
{# 	        highlight: "#FFC870", #}
{# 	        label: "{{stats.3.0}}" #}
{# 	    }, #}
{# 		 #}
{# 	    { #}
{# 	        value: {{stats.4.1}}, #}
{# 	        color: "#6588A8", #}
{# 	        highlight: "#CCD3FF", #}
{# 	        label: "{{stats.4.0}}" #}
{# 	    } #}
{# 		 #}
{# 	] #}
{# 	 #}
{# 	 #}
{# 	var myDoughnutChart = new Chart(ctx).Doughnut(data); #}
{# 	 #}
{# 	legend(document.getElementById('legendEntities'), data); #}
{# 	 #}
{# 	 #}
{# 	// second chart #}
{# 	 #}
{# 	var ctx2 = document.getElementById("triplesStats").getContext("2d"); #}
{# 	var data2 = { #}
{# 	    labels: ["Triples ({{stats.0.1}})"], #}
{# 	    datasets: [ #}
{# 	        { #}
{# 	            label: "Triples", #}
{# 	            fillColor: "rgba(220,220,220,0.5)", #}
{# 	            strokeColor: "rgba(220,220,220,0.8)", #}
{# 	            highlightFill: "rgba(220,220,220,0.75)", #}
{# 	            highlightStroke: "rgba(220,220,220,1)", #}
{# 	            data: [{{stats.0.1}}] #}
{# 	        } #}
{# 	    ] #}
{# 	}; #}
{# 	var myBarChart = new Chart(ctx2).Bar(data2); #}
{# 	 #}
{# </script> #}
{#  #}
{#  #}







	{# ALTERNATIVE METRICS WITHOUT TABLE #}

	{# <div class="row"> #}
	{#  #}
	{# <table border="0" cellspacing="5" cellpadding="5"> #}
	{# 	{% for x, y in stats  %} #}
	{# 	 #}
	{#     <h4>{{x}}</h4> #}
	{#     <p class="lead" style="margin-left: 20px;">{{y}}</p> #}
	{# 	 #}
	{# 	{% endfor %} #}
	{# </table> #}
	{#      #}
	{# 	 #}
	{# 		    <h4>Top Layer</h4> #}
	{# 		    <p class="lead" > #}
	{# 	            {% for class in toplayer %}      #}
	{# 	            <a title="{{class.class}}" #}
	{# 	            {% if class.isdefined %}href="/classes?model={{ontoLocation}}&resource={{class.class|encodeuri}}"{% endif %} >{{class.classname}}</a> {% if not forloop.last %}|{% endif %} #}
	{# 	            {% endfor %}   #}
	{# 		    </p> #}
	{#  #}
	{# </div> #}









