
<style type="text/css" media="screen">


#schemaContent a:link
{
color: #660000;
text-decoration: none;
border-bottom: dotted 1px #660000;
}
#schemaContent a:visited
{
color: #990000;
text-decoration: none;
border-bottom: dotted 1px #990000;
}
#schemaContent a:hover
{
border-bottom: none;
color: #fff;
background-color: #660000;
text-decoration: none;
}


</style>


	
	
<div id="schemaContent">


<h4>Testing Example</h4>


<table class=h>
	
	<tr>
	  <td class="tc" colspan=4><a href="../DataType">DataType</a>
	  </td>
	</tr>
	<tr>
	  <td class="tc" colspan=4><a href="../DataType">DataType</a>
	  </td>
	</tr>
	
	<tr>
	  <td class="space"></td>
	  <td class="bar"></td>
	  <td class="space"></td>

	  <td>
	    <table class=h>
		   <tr><td class="tc" colspan=4><a href="../Boolean">Boolean</a>
	 	  		</td>
		   </tr>
		   <tr><td class="tc" colspan=4><a href="../Boolean">Boolean</a>
	 	  		</td>
		   </tr>
	   </table>
	  </td>
	  
	  
	 </tr>
 </table>
	 


 <br /><br /><br />
 <h4>Original Example</h4>

	 	

<table class=h>
  <tr>
	  <td class="tc" colspan=4><a href="../DataType">DataType</a>
      </td>
  </tr>

    <tr>
      <td class="space"></td>
      <td class="bar"></td>
      <td class="space"></td>
	  
      <td>
        <table class=h>
 		   <tr><td class="tc" colspan=4><a href="../Boolean">Boolean</a>
     	  		</td>
 		   </tr>

	   </table>
	   
	  </td>
	 </tr>

    <tr>
      <td class="space"></td>
      <td class="bar"></td>
      <td class="space"></td>
	  
      <td>
          <table class=h>
  			<tr><td class="tc" colspan=4><a href="../Date">Date</a>
      	  </td></tr>

	  	  </table>
      </td>
    </tr>

    <tr>
      <td class="space"></td>
      <td class="bar"></td>
      <td class="space"></td>
	  
      <td>
          <table class=h>
  			<tr><td class="tc" colspan=4><a href="../DateTime">DateTime</a>
     	   </td></tr>

	      </table>
      </td>
    </tr>


    <tr>
      <td class="space"></td>
      <td class="bar"></td>
      <td class="space"></td>
	  
      <td>
        <table class=h>
		  <tr><td class="tc" colspan=4><a href="../Number">Number</a>
  				</td>
		  </tr>

 	   	 <tr>
			 
  		  <td class="space"></td>
  		  <td class="bar"></td>
  	      <td class="space"></td>
		  
  		  <td>
        	  <table class=h>
				 <tr><td class="tc" colspan=4><a href="../Float">Float</a>
 				</td></tr>
			</table>
  	  	 </td>
		</tr>

	    <tr>
	      <td class="space"></td>
	      <td class="bar"></td>
	      <td class="space"></td>
		  
	      <td>
	         <table class=h>
	  		   <tr><td class="tc" colspan=4><a href="../Integer">Integer</a>
	      	 </td></tr>
		    </table>
  	      </td>
       </tr>
      </table>


      </td>
    </tr>

    <tr>
      <td class="space"></td>
      <td class="bar"></td>
      <td class="space"></td>
	  
      <td>
            <table class=h>
 			   <tr><td class="tc" colspan=4><a href="../Text">Text</a>
    		   </td></tr>

   			<tr>
		      <td class="space"></td>
		      <td class="bar"></td>
		      <td class="space"></td>
		      <td>
            	  <table class=h>
  					<tr><td class="tc" colspan=4><a href="../URL">URL</a>
     			   </td></tr>

			   </table>


     	 	 </td>
    		</tr>

			</table>


      </td>
    </tr>

    <tr>
      <td class="space"></td>
      <td class="bar"></td>
      <td class="space"></td>
	  
      <td>
        <table class=h>
 		   <tr><td class="tc" colspan=4><a href="../Time">Time</a>
     	  </td></tr>

	  </table>


      </td>
    </tr>

</table>


</div>