{% extends "ontoview/base.html" %}

{% load ontotags %}{% load subdomainurls %}



{% block pagecontents %}



{% include "ontoview/components/tabs.html" %}


	<div class="page-header">
	  <h3>	
		  Metadata {# for <code>{{ontoPrettyUri}}</code>   #}    	  
	  </h3>	  
	</div>
		  
  
    {% for name, value in alltriples  %}
	{% ifchanged name %}<br /><b>{{name}}</b>{% endifchanged %}
    
    <p class="" style="margin-left: 20px;">
        {{value|linebreaksbr}}
    </p>

    {% endfor %}
  
  
  <br /><br />


<div class="page-header">
  <h3>Metrics</h3>
</div>


<div class="row">
	<table id="stats_table" class="table table-striped table-bordered table-condensed span5 table-hover">
	
		{% for x, y in stats  %}
	    <tr>
	      <td><b>{{x}}</b></td>
	      <td><p class=" text-center">{{y}}</p></td>
	    </tr>
		{% endfor %}
		
		
	    <tr>
	      <td><b>Top Layer</b></td>
		  <td><p class=" text-center">
            {% for class in toplayer %}     
		
            <a title="{{class.class}}"
            {% if class.isdefined %}href="{% url 'classes' subdomain='schema' %}?model={{ontoFile}}&resource={{class.class|encodeuri}}"{% endif %} class="rdfclass">{{class.classname}}</a> {% if not forloop.last %}|{% endif %}
		
            {% endfor %} 
		</p></td>
	    </tr>
						
		
	</table>
				
</div>





		{# ALTERNATIVE METRICS WITHOUT TABLE #}

		{# <div class="row"> #}
		{#  #}
		{# <table border="0" cellspacing="5" cellpadding="5"> #}
		{# 	{% for x, y in stats  %} #}
		{# 	 #}
		{#     <h4>{{x}}</h4> #}
		{#     <p class="lead" style="margin-left: 20px;">{{y}}</p> #}
		{# 	 #}
		{# 	{% endfor %} #}
		{# </table> #}
		{#      #}
		{# 	 #}
		{# 		    <h4>Top Layer</h4> #}
		{# 		    <p class="lead" > #}
		{# 	            {% for class in toplayer %}      #}
		{# 	            <a title="{{class.class}}" #}
		{# 	            {% if class.isdefined %}href="/classes?model={{ontoLocation}}&resource={{class.class|encodeuri}}"{% endif %} >{{class.classname}}</a> {% if not forloop.last %}|{% endif %} #}
		{# 	            {% endfor %}   #}
		{# 		    </p> #}
		{#  #}
		{# </div> #}



		<br /><br />

 		<div class="page-header">
 		  <h3>Source Code</h3>	  
 		</div>	  
						 
		 		  
         <div class="tabbable">
              <ul class="nav nav-pills">
                  <li class="active"><a href="#source1" data-toggle="tab">Turtle</a></li>
                  <li><a href="#source2" data-toggle="tab">RDF/XML</a></li>
              </ul>
              <div class="tab-content">
                  <div class="tab-pane active span8" id="source1">
					  <pre style="max-height: 500px; overflow-y: scroll; font-size: 15px;">
						  {{sourcecode1|escape|linebreaks}}
					  </pre>
                      
                  </div>
                  <div class="tab-pane span8" id="source2">
			  		  <pre style="max-height: 500px; overflow-y: scroll; font-size: 15px;">
			  			  {{sourcecode2|escape|linebreaks}}
			  		  </pre>
                  </div>
              </div>
          </div>
		 
		 
		  <div class="text-right" >
		 	 <br />
			 <p class="muted">This source code has been serialized using rdflib; you may also <a href="{{ontoFileNoMask}}" target="_blank">download</a> the original source file.</p>
			 <br />
			 <br />
			 
		  </div>
		  
		  <br /><br />
		  
		  
		  
		  
	


{% endblock pagecontents %} 



